body {
    background-color: white;
}

h1 {
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

p1 {
    color: black;
    font-size: 20;
}

p2{
	color: black;
    font-size: 14;
}
p3.tab {
	margin-left: 40px;
	color: black;
    font-size: 14;
}

#name {
	float:left;
	margin-left: 5px;
	font-size: 24px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	font-size: 24px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #ffffff;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.right {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 100%;
	height: 100%;
	background-color: #D1E3FF;
	margin-bottom: 10px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 98.91%;
	margin-top: -20px;
	height: 60px;
	background-color: rgb(40, 172, 173);
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: rgb(40, 172, 173);
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
/* CSS For the slide show. */
.container {
 	max-width: 400px;
 	background-color: #D1E3FF;
 	text-align: center;
 	position: fixed; right: 100px; top: 100px;

	/* float: right; */
	margin-top: 125px;
	background-color: #D1E3FF;
	margin-bottom: 10px;
}
.container div {
 	background-color: #D1E3FF;
 	max-width: 500px;
 	height: 500px;
 	display: inline-block;
  	display: none;
}
.container img {
 	height: 100%;
}

#bigimg {
	height: 70%;
}

/* Portrait and Landscape iphone 4 and 4s*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	 	max-width: 400px;
	 	background-color: #D1E3FF;
	 	text-align: center;
	 	position: fixed; right: 8px; top: 280px;

		/* float: right; */
		margin-top: 180px;
		background-color: #D1E3FF;
	}
	.container div {
	 	background-color: #D1E3FF;
	 	max-width: 500px;
	 	height: 500px;
	 	display: inline-block;
	  	display: none;
	}
	.container img {
	 	height: 70%;
	}

	#bigimg {
		height: 50%;
	}
}
/* Portrait and Landscape for iphone 5 and 5s*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	 	max-width: 400px;
	 	background-color: #D1E3FF;
	 	text-align: center;
	 	position: fixed; right: 8px; top: 280px;

		/* float: right; */
		margin-top: 180px;
		background-color: #D1E3FF;
	}
	.container div {
	 	background-color: #D1E3FF;
	 	max-width: 500px;
	 	height: 500px;
	 	display: inline-block;
	  	display: none;
	}
	.container img {
	 	height: 70%;
	}

	#bigimg {
		height: 50%;
	}
}
/* Portrait and Landscape for iphone 6*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.container {
	 	max-width: 400px;
	 	background-color: #D1E3FF;
	 	text-align: center;
	 	position: fixed; right: 8px; top: 280px;

		/* float: right; */
		margin-top: 180px;
		background-color: #D1E3FF;
	}
	.container div {
	 	background-color: #D1E3FF;
	 	max-width: 500px;
	 	height: 500px;
	 	display: inline-block;
	  	display: none;
	}
	.container img {
	 	height: 70%;
	}

	#bigimg {
		height: 50%;
	}
}
/* Portrait and Landscape iphone 6+*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	.container {
	 	max-width: 400px;
	 	background-color: #D1E3FF;
	 	text-align: center;
	 	position: fixed; right: 8px; top: 280px;

		/* float: right; */
		margin-top: 180px;
		background-color: #D1E3FF;
	}
	.container div {
	 	background-color: #D1E3FF;
	 	max-width: 500px;
	 	height: 500px;
	 	display: inline-block;
	  	display: none;
	}
	.container img {
	 	height: 70%;
	}

	#bigimg {
		height: 50%;
	}
}
/* Style for buttons if they're added
button {
 	position: absolute;
}

.next:hover {
	border: inherit;
    background:green;
    box-shadow: 0px 0px 1px #777;
}

.prev:hover {
	border: inherit;
    background:green;
    box-shadow: 0px 0px 1px #777;
}

.next {
 	right: -70px;
 	position: right:0px; bottom: 0px;
 	background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: black;
    font-family: 'Oswald';
    font-size: 20px;
    cursor: pointer;
    border: groove;

}

.prev {
	left: -2px;
 	position: left:0px; bottom: 0px;
 	background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: black;
    font-family: 'Oswald';
    font-size: 20px;
    cursor: pointer;
    border: groove;
} */