body {
    background-color: white;
}

h1 {
    color: black;
}

p1 {
    color: black;
    font-size: 16;
}

p2{
	color: black;
    font-size: 14;
}
p3.tab {
	margin-left: 40px;
	color: black;
    font-size: 14;
}
